@import url(https://qwerewqwerew.github.io/source/style/reset.css);
main {
  .fx{

    position:relative;
    width:100%;
    flex-wrap: wrap;
    @include mq("lg") {
      flex-direction: row;
      height:50rem;
    } //md
    @include mq("md") {
      flex-direction:row;
      height:100rem;
    } //md
    @include mq("sm") {
      flex-direction:row;
      height:150rem;
    } //sm
  .section-1 {
    background-color: #181818;
    padding: 7rem 0 6.5rem 6rem;
    width: 33.3%;

    @include mq("lg") {
      width: 33.3%;
    } //lg
    @include mq("md") {
      width: 100%;
      height: 54rem;
      padding: 7rem 6rem 6.5rem 6rem;
    } //md
    @include mq("sm") {
      width: 100%;
      height: 54rem;
      padding: 7rem 6rem 7rem 6rem;
    } //sm
    &-top {
      display: flex;
      align-items: center;
      h2>a{
        font-size:3rem;
        color:#fff;
        margin-right:10rem;
      }
      p>a{
        color: $color-white;
        font-size: 1.6rem;
        margin-right:3rem;
      }
      p>a.on{
        color:#ffff00;
        text-decoration: underline;
        font-size:2rem;
        
      }
    }
    &-words {
      width: 65%;
      padding: 2rem 2rem 0 0;
      @include mq("md") {
        width: 100%;
      }
      @include mq("sm") {
        width: 100%;
      }
      &-list{
        li{
          position:relative;

          height:5rem;
          padding: 1.5rem 0;
          font-size: 1.4rem;
          font-weight: 700;
          text-align: justify;
          @include mq("lg") {
            width:50rem;
          }
          @include mq("md") {
            width: 100%;
          }
          @include mq("sm") {
            width: 100%;
          }
          &:not(:last-child):before{
            position:absolute;
            content:'';
            width:100%;
            height:0.1rem;
            top:0;
            background-color: #535353;
          }
          &:after{
            position:absolute;
            content:'';
            width:100%;
            height:0.1rem;
            bottom:0;
            background-color: #535353;
          }
          a {
            color: $color-white;
            font-size:1.3rem;
            
            .start{
              position:absolute;
              left:0;
              background-color: #1f9aca;
              border-radius: 2rem;
              padding:0.2rem 2rem;
            }
            .mid{
              position:absolute;
              left:13rem;
              color:#d4d4d4;
            }
            .end{
              position:absolute;
              right:0;
              color:#5f5f5f;
            }
          }
        }
      }
      
    }
    &-photo {
      position: relative;
      width: 35%;
      left: 70%;
      top: -40%;
      @include mq("md") {
        left: 0;
        top: 0;
        width: 100%;
      }
      @include mq("sm") {
        left: 0;
        top: 0;
        width: 100%;
      }
      .photo {
        position: absolute;
        width: 18rem;
        height: 12rem;
        transition: all 0.5s;
        @include mq("md") {
          top: 3rem !important;
          left: 50% !important;
        }
        @include mq("sm") {
          top: 3rem !important;
          left: 50% !important;
        }
        &:hover {
          transform: scale(1.1);
          padding: 1rem;
          border: 3px solid $color-primary;
          z-index: 10;
        }
        &:nth-child(1) {
          left: 1rem;
          top: 3rem;
          @include mq("md") {
            transform: translateX(-120%);
          }
          @include mq("sm") {
            transform: translateX(-120%);
          }
        }

        &:nth-child(2) {
          left: 6rem;
          top: 10rem;
        }
        img {
          width: 100%;
          height: 100%;
          box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
  } //.section-1{}
  .fx{
    display:flex;
    
    height:100%;
    @include mq("lg") {
      width:66.7%;
      display: flex;
    }
    @include mq("md") {
      width: 100%;
      display: flex;

    }
    @include mq("sm") {
      width: 100%;
      height:40%;
      display: flex;
      flex-direction:row;
    }
  .section-2 {
    position: relative;
    padding: 6rem 2rem 2rem 2rem;
    width: 50%;
    height:100%;
    background-color: #181818;
    @include mq("lg") {
      width: 50%;
      display: flex;
    }
    @include mq("md") {
      width: 50%;
      display: flex;

    }
    @include mq("sm") {
       width: 100%;
      display: flex;
      flex-direction: column;
    }
    .swiper {
      width: 100%;
      height: 40rem;
      // .swiper-pagination{
      //   position:absolute;
      //   color:$color-white;
      //   font-size:1.2rem;
      //   font-weight:400;
      //   width:2rem;
      //   margin:0 0 10% 90%;
      // }
      .swiper-wrapper {
        width:100%;
        height:100%;
        position: absolute;
        a{
          color:$color-white;
          
          p{
            background-color: #181818;
            padding:2rem 0;
            font-size:1.4rem;
          }
          img {
            width:100%;
            height:100%;
            object-fit: contain;
          }
        }
        
      }
      .fx{

        margin-top:57%;
        margin-left:80%;

        width:8rem;
        height:3rem;
        margin-bottom:10rem;
        .swiper-button-prev{
          position:absolute;
          left:0;
          &:after{
            display:none;
          }
          img{
            width:1.5rem;
          }
        }
        .swiper-button-next{
          position:absolute;
          right:0;
          &:after{
            display:none;
          }
          img{
            width:1.5rem;
          }
        }
        .swiper-pagination{
          color:white;
          position:absolute;
          font-size:1.4rem;
        }

      }
    }
  } //.section2
  .section-3 {
    position:relative;
    width: 50%;
    height:100%;
    padding: 6rem 2rem 2rem 2rem;
    background-color: #181818;
    @include mq("lg") {
      width: 50%;
      display: flex;
    }
    @include mq("md") {
      width: 50%;
      display: flex;
    }
    @include mq("sm") {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .swiper {
      position: relative;
      width: 100%;
      height: 40rem;
      .swiper-wrapper {
        width:100%;
        height:100%;
        position: absolute;
          img {
            width:100%;
            height:100%;
            object-fit: cover;
          }
          p{
            background-color: #181818;
            padding:2rem 0;
            font-size:1.4rem;
            color:$color-white;
          }
      }
    }
    .fx{
      margin-top:57%;
      margin-left:80%;
      width:8rem;
      height:3rem;
      margin-bottom:10rem;
      .swiper-button-prev{
        position:absolute;
        left:0;
        &:after{
          display:none;
        }
        img{
          width:1.5rem;
        }
      }
      .swiper-button-next{
        position:absolute;
        right:0;
        &:after{
          display:none;
        }
        img{
          width:1.5rem;
        }
      }
      .swiper-pagination{
        color:white;
        position:absolute;
        font-size:1.4rem;
        
      }

    }
  } //section-3
  }//fx
} //fx
.section-4{
  position:relative;
  width:100%;
  height:30rem;
  display:flex;
  gap:2rem;
  padding:1rem 4rem;
  background-color:#f0f0f0;
  @include mq("lg") {
    width: 100%;
    display: flex;
  }
  @include mq("md") {
    width: 100%;
    height:50rem;
    margin-top:10rem;
    flex-direction: column;
  }
  @include mq("sm") {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:50rem;
  }
  &-fx{
    @include mq("lg") {
      display: flex;
      flex-direction: row;
      width: 50%;
    }
    @include mq("md") {
      width: 100%;
      height:100rem;
      display: flex;
      flex-direction: column;
    }
    @include mq("sm") {
      width: 100%;
      height:100rem;
      margin-top:50rem;
      display: flex;
    }
    &-div{
      position:relative;
      width:50%;
      height:80%;
      margin-top:3rem;
   
      img{
        position:absolute;
        width:100%;
        padding:2rem;
        background-color: $color-white;
        object-fit: contain;
      }
    }
  }
 
} //section-4
//lightbox
#lightbox {
	position: fixed;
	width: 100%;

	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
}

/* 라이트 박스 안의 이미지 */
#lightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #eee;
	overflow: hidden;
	z-index: 100;
}

.all_scrollFixed {
	overflow: hidden;
}
.all_scrollFixed::before {
	position: fixed;
	top: 0;
	left: 50%;
	width: 1000%;
	height: 10000%;
	background-color: rgba(0, 0, 0, 0.2);
	transform: translateX(-50%);
	content: '';
	z-index: 95;
}
#lightboxImage {
	left: 50%;
	transform: translateX(-50%);
	position: fixed;
	width: 80%;
	height: 80vh;
	overflow-y: auto;
	top: 100px;
}
.section-5{
  display:flex;
  justify-content: center;
  gap:5rem;
  width:100%;
  height:5rem;
  @include mq("lg") {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  @include mq("md") {
    width: 100%;
    height:100rem;
    display: flex;
    flex-direction: column;
  }
  @include mq("sm") {
    width: 100%;
    height:100rem;
    margin-top:50rem;
    display: flex;
  }
  background-color: $color-white;
  &-btn1,&-btn2,&-btn3{
    width:5rem;
    height:5rem;
    padding:1.3rem;
  }
  &-btn1>img,
  &-btn2>img,
  &-btn3>img{
    width:2rem;
    object-fit: cover;
  }
} //main
}
