.nav{

    &-checkbox{
        display:none;
    }
    &-button{
        background-color: #fffb21;
        width:7rem;
        height:6rem;
        position:fixed;
        z-index:2000;
        top:10rem;
        right:0rem;
        cursor:pointer;
        border-radius:2px;
        box-shadow:0 1rem 1rem rgba(#000,.1);
        text-align:center;
    }
    &-bg{
        background-image: radial-gradient($color-primary,$color-secondary);
        position:fixed;
        z-index:1000;
        width:7rem;
        height:6rem;
        top:10rem;
        right:0rem;
        border:2px;
        transition:all 0.8s;
    }
    &-checkbox:checked ~ &-bg{
        transform:scale(80);
    }
    &-icon{
        position:relative;
        margin-top:3rem;
        &,&:before,&:after{
            width:3rem;
            height:0.2rem;
            background-color: #333;
            display:inline-block;
        }
        &:before,&:after{
            content:'';
            position:absolute;
            transition:all 0.2s;
            left:0;
        }
        &:before{
            top:-0.8rem;
        }
        &:after{
            top:0.8rem;
        }
    }
    &-button:hover &-icon:before{
        top:-1rem;
    }
    &-button:hover &-icon:after{
        top:1rem;
    }
    &-checkbox:checked~&-button &-icon{
        background-color: transparent;
    }
    &-checkbox:checked~&-button &-icon:after{
        top:0;
        transform:rotate(135deg);
    }
    &-checkbox:checked~&-button &-icon:before{
        top:0;
        transform:rotate(-135deg);
    }
    &-body{
        position:fixed;
        top:0;
        left:-120%;
        opacity:0;
        width:100vw;
        height:100vh;
        z-index:1500;
        transition:all 0.8s;
    }
    &-list{
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        list-style:none;
        width:100%;
        text-align:center;
    }
    &-link{
        display:inline-block;
        font-size:3rem;font-weight:300;
        padding:1rem 2rem;
        color:$color-white;
        text-decoration: none;
        transition:all .4s;
        background-image:linear-gradient(120deg, transparent 0%,transparent 50%,$color-white 50%);
        background-size: 220%;
        &:hover{
            color:$color-primary;
            background-position: 100%;
            transform:translateX(1rem)
        }
    }
    &-checkbox:checked ~ &-body{
        opacity:1;
        left:0;
    }
}//.nav